html {
    font-size: 10px;
    background: url(https://pixabay.com/get/eb35b90620f6083ed1534705fb094491e077e5d604b0144196f4c371a2eab5/drums-2089829_1920.jpg) bottom center;
    background-size: cover;
  }
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  h1 {
      font-size: 80px;
      color: #FF6700;
      margin-top: 10px;
      margin-bottom: 0px;
      text-align: center;
      text-shadow: horizontal-offset vertical-offset blur color;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }

  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #FF6700;
    box-shadow: 0 0 1rem #FF6700;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #FF6700;
  }